body{
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: arial, sans-serif;
    font-size: 13px;
}

nav footer {
    display: inline;
}

a:link {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.googlelogo {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 30%;
    margin-top: -50px;
} 

.searchbar {
    position: fixed;
    top: 40%;
    left: 50%;
    border-radius: 40px;
}

 nav ul {
    list-style-type: none; /*removes bullets*/
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

footer ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    position:absolute;
    bottom:0;
    width:100%;
  }

  .footerbar {
    box-sizing: content-box;
    display: block;
    float: none;
    position: static;
    line-height: 40px;
    color: #222;
    z-index: -100;
  }

.about {
    background-color: black;
}

#about, #store, #ad, 
#business {
    float:left;
    margin-left:20px;
}


#images, #gmail, #squares, 
#signin, #privacy, #terms,
#settings {
    margin-right: 40px;
    float: right;
}

#googlesearch {
    position: fixed;
    top: 50%;
    left: 50%;
}

#lucky {
    position: fixed;
    top: 50%;
    left: 58.5%;
}